nodeRadFlows_CoalBoiler_191207_0417.json
[{"id":"105c659f.ac554a","type":"tab","label":"Coal_Boiler","disabled":false,"info":""},{"id":"e95b2c15.18bb","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Coal Boiler Data","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"dabb09c4.ae8ef8","type":"ui_tab","z":"","name":"Boiler Data","icon":"dashboard","disabled":false,"hidden":false},{"id":"fc9d7d9e.e328","type":"ui_group","z":"","name":"Boiler Sensors Line Graphs","tab":"dabb09c4.ae8ef8","order":1,"disp":true,"width":"6","collapse":false},{"id":"2bcbb392.824a3c","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"e5c5c628.50a248","type":"ui_group","z":"","name":"Gauges Ambient","tab":"dabb09c4.ae8ef8","order":3,"disp":true,"width":"6","collapse":false},{"id":"4905f89a.eb10b8","type":"ui_group","z":"","name":"Switches","tab":"dabb09c4.ae8ef8","order":4,"disp":true,"width":"6","collapse":false},{"id":"139c0d51.1ebcb3","type":"ui_group","z":"","name":"Gauges Controls","tab":"dabb09c4.ae8ef8","order":2,"disp":true,"width":"6","collapse":false},{"id":"4a93b1b6.81e3","type":"ui_spacer","name":"spacer","group":"e5c5c628.50a248","order":2,"width":6,"height":1},{"id":"c93f68e9.e45778","type":"api-current-state","z":"105c659f.ac554a","name":"vf3kTempSnsWater","server":"2bcbb392.824a3c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.4rly_2tsns_1_temp_water","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":380,"wires":[["c95d1295.7ce37"]]},{"id":"14fab1fb.38ab8e","type":"inject","z":"105c659f.ac554a","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"6","x":130,"y":380,"wires":[["c93f68e9.e45778","75b93dbc.521704","be0ecb93.bb5158"]]},{"id":"c95d1295.7ce37","type":"json","z":"105c659f.ac554a","name":"","property":"payload","action":"obj","pretty":false,"x":510,"y":380,"wires":[["736a2496.d9f8bc","819035a6.4651b8","dedf2c72.1566e"]]},{"id":"736a2496.d9f8bc","type":"debug","z":"105c659f.ac554a","name":"Debug_VF3KWaterTemp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":380,"wires":[]},{"id":"819035a6.4651b8","type":"ui_gauge","z":"105c659f.ac554a","name":"Water_Gauge","group":"139c0d51.1ebcb3","order":2,"width":0,"height":0,"gtype":"gage","title":"Water","label":"Deg F","format":"{{value}}","min":"40","max":"250","colors":["#0044b3","#e66f00","#ca3838"],"seg1":"100","seg2":"165","x":680,"y":460,"wires":[]},{"id":"75b93dbc.521704","type":"api-current-state","z":"105c659f.ac554a","name":"vf3kTempSnsFeeder","server":"2bcbb392.824a3c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.4rly_2tsns_1_temp_feeder","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":440,"wires":[["f0e033a7.608d"]]},{"id":"f0e033a7.608d","type":"json","z":"105c659f.ac554a","name":"","property":"payload","action":"obj","pretty":false,"x":510,"y":440,"wires":[["25d87741.dc9f18","84c5aee5.cef21","42c2ff82.12ade","dcc63a9b.f8eaf8","ec250d02.66066"]]},{"id":"25d87741.dc9f18","type":"debug","z":"105c659f.ac554a","name":"Debug_VF3KFeederTempSnsr","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":500,"wires":[]},{"id":"84c5aee5.cef21","type":"ui_gauge","z":"105c659f.ac554a","name":"Feeder_Gauge","group":"139c0d51.1ebcb3","order":3,"width":0,"height":0,"gtype":"gage","title":"Feeder","label":"Deg F","format":"{{value}}","min":"0","max":"500","colors":["#0044b3","#e66f00","#ca3838"],"seg1":"200","seg2":"400","x":700,"y":600,"wires":[]},{"id":"dedf2c72.1566e","type":"ui_chart","z":"105c659f.ac554a","name":"Water_DegF_Line","group":"fc9d7d9e.e328","order":1,"width":0,"height":0,"label":"Water","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"no data yet","dot":false,"ymin":"40","ymax":"85","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":690,"y":420,"wires":[[]]},{"id":"42c2ff82.12ade","type":"ui_chart","z":"105c659f.ac554a","name":"Feeder_DegF_Line","group":"fc9d7d9e.e328","order":2,"width":0,"height":0,"label":"Feeder","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"no data yet","dot":false,"ymin":"40","ymax":"85","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":560,"wires":[[]]},{"id":"5282638c.987b4c","type":"ui_switch","z":"105c659f.ac554a","name":"Main_Power_Switch","label":"Main Power","tooltip":"","group":"4905f89a.eb10b8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"\"on\"","onvalueType":"json","onicon":"","oncolor":"","offvalue":"\"off\"","offvalueType":"json","officon":"","offcolor":"","x":140,"y":700,"wires":[["f226d3bf.9cf6f","773e0767.793898"]]},{"id":"f226d3bf.9cf6f","type":"switch","z":"105c659f.ac554a","name":"on/off?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"on","vt":"str"},{"t":"cont","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":760,"wires":[["2450de03.ef9112"],["3eab55cd.b806da"]]},{"id":"3eab55cd.b806da","type":"api-call-service","z":"105c659f.ac554a","name":"OFF","server":"2bcbb392.824a3c","version":1,"debugenabled":true,"service_domain":"switch","service":"turn_off","entityId":"switch.vf3k_mainpwr","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":470,"y":820,"wires":[[]]},{"id":"2450de03.ef9112","type":"api-call-service","z":"105c659f.ac554a","name":"ON","server":"2bcbb392.824a3c","version":1,"debugenabled":true,"service_domain":"switch","service":"turn_on","entityId":"switch.vf3k_mainpwr","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":470,"y":760,"wires":[[]]},{"id":"cc794b2f.5258d8","type":"inject","z":"105c659f.ac554a","name":"SEND ON","topic":"","payload":"\"on\"","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":760,"wires":[["f226d3bf.9cf6f"]]},{"id":"cdb337d6.6fa628","type":"inject","z":"105c659f.ac554a","name":"SEND OFF","topic":"off","payload":"\"off\"","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":800,"wires":[["f226d3bf.9cf6f"]]},{"id":"773e0767.793898","type":"debug","z":"105c659f.ac554a","name":"PWRBTN","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":480,"y":700,"wires":[]},{"id":"4caff64e.d158e8","type":"api-current-state","z":"105c659f.ac554a","name":"swMainPwr","server":"2bcbb392.824a3c","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.vf3k_mainpwr","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":270,"y":580,"wires":[["ced34e53.701d"]]},{"id":"8a00ec36.7afc1","type":"inject","z":"105c659f.ac554a","name":"","topic":"","payload":"","payloadType":"date","repeat":".5","crontab":"","once":true,"onceDelay":"5","x":110,"y":580,"wires":[["4caff64e.d158e8"]]},{"id":"a8e78efc.46e98","type":"debug","z":"105c659f.ac554a","name":"NOCHG","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":480,"y":620,"wires":[],"info":"Indicates the power switch has not changed"},{"id":"ced34e53.701d","type":"function","z":"105c659f.ac554a","name":"swPwrStateChg","func":"/*************************************************\n * * VGK, 191207\n * * Detects Change in Main Power Switch State\n * * so if changed outside the flow the switch\n * * state gets set to the real switch state\n * *\n *************************************************/\nvar lstPwrState=flow.get('flowLstPwrState') || \"notset\";\nvar payload=msg.payload;\nvar msgDbg = { _msgid: 1234567 ,payload: \"\",topic:\"\" };\n\nif(payload !== undefined && \n   payload !== null && \n   msg.payload !== lstPwrState)\n{\n    lstPwrState = payload;\n    flow.set('flowLstPwrState',lstPwrState);\n    msgDbg.payload = \"DATA CHANGED to \\\"\" + lstPwrState + \"\\\"\";\n    return [msgDbg,msg];\n}else{\n    msgDbg.payload = \"NO DATA CHANGE\";\n    return [msgDbg,null];\n}\n\n","outputs":2,"noerr":0,"x":140,"y":640,"wires":[["a8e78efc.46e98"],["5cf3549e.4ef0bc","5282638c.987b4c"]]},{"id":"5cf3549e.4ef0bc","type":"debug","z":"105c659f.ac554a","name":"CHGD","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":660,"wires":[],"info":"Indicates powe switch state has changed since last execution"},{"id":"be0ecb93.bb5158","type":"function","z":"105c659f.ac554a","name":"gblUpdateCount","func":"/*************************************************\n * * VGK, 191207\n * * Updates global variable counter\n *************************************************/\nvar lstUpdateCount=global.get('gblUpdateCount') || 0;\n//var msgDbg = { _msgid: 1234567 ,payload: \"\",topic:\"\" };\n\nlstUpdateCount++;\n\nglobal.set('gblUpdateCount',lstUpdateCount);\nmsg.payload = lstUpdateCount;\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":500,"wires":[["7220da44.fe3e04","b61c7007.6a02c"]]},{"id":"7220da44.fe3e04","type":"debug","z":"105c659f.ac554a","name":"UPDCNTR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":500,"wires":[]},{"id":"b61c7007.6a02c","type":"ui_text","z":"105c659f.ac554a","group":"139c0d51.1ebcb3","order":1,"width":0,"height":0,"name":"UPDCOUNTER","label":"Data Update Counter","format":"{{msg.payload}}","layout":"col-center","x":470,"y":540,"wires":[]},{"id":"33bbed92.d41072","type":"ui_switch","z":"105c659f.ac554a","name":"Combust_Power_Switch","label":"Combustion Blower ","tooltip":"","group":"4905f89a.eb10b8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"\"on\"","onvalueType":"json","onicon":"","oncolor":"","offvalue":"\"off\"","offvalueType":"json","officon":"","offcolor":"","x":150,"y":880,"wires":[[]]},{"id":"31045006.bcd1f","type":"ui_switch","z":"105c659f.ac554a","name":"Feeder_Power_Switch","label":"Feeder Motor","tooltip":"","group":"4905f89a.eb10b8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"\"on\"","onvalueType":"json","onicon":"","oncolor":"","offvalue":"\"off\"","offvalueType":"json","officon":"","offcolor":"","x":140,"y":920,"wires":[[]]},{"id":"864f2f23.9e63","type":"ui_switch","z":"105c659f.ac554a","name":"HeatDmnd_Switch","label":"Remote Heat Demand","tooltip":"","group":"4905f89a.eb10b8","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"\"on\"","onvalueType":"json","onicon":"","oncolor":"","offvalue":"\"off\"","offvalueType":"json","officon":"","offcolor":"","x":130,"y":960,"wires":[[]],"info":"This is a relay we control to turn on the water circulators to override the wall stat. The main reason we woud enable this would be to blow off excess heat that may have built up."},{"id":"dcc63a9b.f8eaf8","type":"ui_gauge","z":"105c659f.ac554a","name":"AmbientRoom_Gauge","group":"e5c5c628.50a248","order":1,"width":0,"height":0,"gtype":"gage","title":"Room","label":"Deg F","format":"{{value}}","min":"40","max":"90","colors":["#0044b3","#00e645","#ca3838"],"seg1":"65","seg2":"73","x":720,"y":640,"wires":[]},{"id":"ec250d02.66066","type":"ui_gauge","z":"105c659f.ac554a","name":"AmbientOutside_Gauge","group":"e5c5c628.50a248","order":3,"width":0,"height":0,"gtype":"gage","title":"Outdoors","label":"Deg F","format":"{{value}}","min":"0","max":"120","colors":["#0044b3","#00e645","#ca3838"],"seg1":"55","seg2":"70","x":730,"y":680,"wires":[]}]